
/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #8EBBA7;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  justify-content: center;
}

.navTitle{
  font-size: 9px;
  text-align: center;
  font-weight: lighter;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

/* Style the hamburger menu */
.icon {
  background: #8EBBA7;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 14px;
  margin-top: 14px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #276359;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #8EBBA7;
  color: white;
}

.logout{
  border: none;
  background-color: #8EBBA7;
  color: white;
  font-size: 14px;
  padding-bottom: 14px;
  padding-top: 14px;
  padding-left: 16px;

}

.join {
  position: absolute;
  right: 0px;
  top: 5px;
}

Button:hover{
  background-color: #276359;
}




